
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dish-image {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

// カテゴリと料理選択・共通
.category-select, .food-select {
  margin-bottom: 20px;
  max-width: 80vw;
  width: 100%;
  // 直下ラベル
  > label{
    font-weight: bold;
  }
}

// カテゴリ
.category-select {
  .category-radios {
    display: flex;
  }
}

// 料理
.food-select{

}

table {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
  margin-top: 20px;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
  .total-row {
    font-weight: bold;
    background-color: #f9f9f9;
  }
}
