// 変数定義
$container-max-width: 800px;
$body-color: #333;
$table-border: 1px solid #ccc;
$header-bg: #eee;
$meal-type-bg: #ddd;
$text-muted: #555;
$table-padding: 3px;

$energy-font-family: 'Montserrat', sans-serif;
$energy-color:#FEA824;
$extra-tasty-color:#FD6772;

$button-green-color: #4CAF50;
$button-orange-color: #f0ab42;

/* スクロールバーを常に見せる */
.simplebar-scrollbar.simplebar-visible {
  opacity: 1 !important;
}
/* 非アクティブ時もレールごと出す場合 */
.simplebar-track {
  opacity: 1 !important;
}


#page-calendar {

  &{
    color: $body-color;
    font-family: 'M PLUS 1p', Arial, sans-serif;
  }

  .calendar-container{
    text-align: center;
  }

  h1{
    text-align: center;
  }

  #weeklyEnergy{
    #weeklyEnergyNum {
      font-family: $energy-font-family;
      color: $extra-tasty-color;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  #weekDisplay{
    margin-top: 1.5rem;
  }

  #weekSelectorContainer{
    //margin-top: 1.5rem;

    select#weekSelector{
      text-align: center;
      margin-bottom: 6px;
      option{
        text-align: center;
      }
    }
  }

  .calendar-container {
    max-width: $container-max-width;
    margin: 0 auto;

    // テーブルを囲むラッパーを追加
    .table-wrapper {
      width: 100%;
      overflow-x: auto;
      margin-bottom: 120px;
    }
  }

  .calendar-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    max-width: 100%;

    th,
    td {
      border: $table-border;
      padding: $table-padding;
    }

    th {
      background-color: $header-bg;
    }


    .dishes-name {
      font-size: 14px;
      margin-bottom: 5px;
    }


    thead {
      .meal-type {
        width: 30px;  // 各食事時間の列幅
        font-size: 16px;
      }
    }

    tbody {
      // 各食事時間ごとのスタイルがあればここに記述
      th{
        background-color: $meal-type-bg;
        font-size: 16px;
        font-weight: bold;
        width: 30px;

        .date-container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .date {
          font-size: 0.8em;
          color: #666;
          margin-bottom: 2px;
        }
      }
      td.day-cell {
        position: relative;
        vertical-align: top;
        height: 90px;

        .menu-item {
          font-size: 12px;
        }

        .menu-image {
          position: relative;
          img {
            height: 50px;
            width: 80px;
            object-fit: cover;
            object-position: 0 -60px;

            &.image-error, &.image-manual{
              object-fit: contain;
              object-position: bottom;
            }
          }
          .delete-image-btn {
            position: absolute;
            top: -5px;
            right: 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: rgba(128, 128, 128, 0.7);  // グレーの半透明
            color: white;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            // safari用
            line-height: 1;
            vertical-align: middle;
            padding: 0;
          }
        }

        .energy-value {
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 16px;

          font-family: "Montserrat", sans-serif;
          color: $energy-color;
          font-weight: 400;
          margin: 5px 0;

          cursor: pointer; // クリック可能なことを示す

          &.extra-tasty{
            color: $extra-tasty-color;
            font-weight: bold;
          }

        }

        // メモを少しだけ効果
        .memo-preview-area {
          height: 10px;
          position: absolute;
          bottom: 2px;
          right: 2px;

          .memo-preview{
            font-size: 10px;
            color: #a9a9a9;
            display: block;
          }
        }
      }

    }

    tfoot {
      .daily-total-row {
        th{
          background-color: $meal-type-bg;
          font-weight: bold;
          width: 30px;
        }
        td.daily-total{
          font-family: $energy-font-family;
          color: $extra-tasty-color;
          font-weight: 700;
          font-size: 1.2rem;
        }
      }
    }
  }


  // loading表示
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .spinner {
      border: 8px solid #f3f3f3;
      border-top: 8px solid #3498db;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }


  // 週間まとめ表示
  #exportWeeklyCSV {
    &.export-icon {
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-left: 8px;
      cursor: pointer;
      transition: opacity 0.2s;
      display: none;

      &.active {
        display: inline-block;
      }
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  /* CSVエクスポートモーダル用スタイル */
  #csvModal {
    .csv-container {
      margin: 15px 0;
    }

    textarea#csvContent {
      width: 275px;
      height: 200px;
      padding: 10px;
      font-family: monospace;
      white-space: pre;
      resize: vertical;
      margin: 10px auto;
      font-size: 14px;
    }

    .csv-buttons {
      text-align: center;
      margin-top: 10px;
    }

    .copy-button {
      padding: 8px 16px;
      background-color: $button-green-color;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1em;
    }

    .copy-button:hover {
      background-color: #45a049;
    }

    .copy-button:active {
      background-color: #3d8b40;
    }

  }


  // 画像拡大モーダル用のスタイル
  #imageModal {
    .modal-content {
      max-width: 90%;
      padding: 20px;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-height: 80vh;
      }
    }
  }

  // メニュー画像のホバーエフェクト
  .menu-image {
    img {
      transition: opacity 0.3s ease;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }


  // 追加モーダル設定
  .day-cell {
    position: relative;
    min-height: 80px;
    padding: 10px;
  }

  .add-entry-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 12px;
    background-color: $button-green-color;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;

    img{
      width: 16px;
      height: 16px;
    }

  }

  .add-entry-button:hover {
    background-color: #45a049;
  }

  // 追加モーダル
  #addEntryModal{
    .modal .image-preview {
      max-width: 200px;
      max-height: 200px;
      margin: 10px 0;
    }

    .modal .image-preview img {
      max-width: 100%;
      height: auto;
    }

    .energy-section {
      margin: 20px 0;

      // 表示
      .energy-display{
        display: flex;
        text-align: center;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
      }

      // 訂正ボタン
      .manual-modify-button{
        display: none;
        &.active{
          display: block;
        }

        padding: 6px 7px 2px 8px;
        background-color: $button-green-color;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        img{
          width: 16px;
          height: 16px;
        }
      }

      // 入力
      .energy-input{
        display: none;

        &.active{
          display: block;
        }

        // 手動入力部分
        .input-group {
          display: flex;
          gap: 8px;
          justify-content: center;

          input{
            width: 111px;
            text-align: right;
            font-size: 16px;
          }

          .confirm-button {
            padding: 6px 8px 2px 8px;
            background-color: $button-green-color;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            img{
              width: 16px;
              height: 16px;
            }

          }

          .confirm-button:hover {
            background-color: #45a049;
          }
        }

      }
    }

    .image-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .image-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 8px 16px;
        background-color: #2196f3;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 50%;

        img {
          width: 24px;
          height: 24px;
        }
      }

      #selectedImagePreview{
        .image-wrapper {
          position: relative;
          display: inline-block;
          border: 1px solid gainsboro;

          // 画像プレビュー
          img.preview-image{
            max-width: 100%;
            max-height: 30vh;

            transition:
                    max-height 1s cubic-bezier(0.42,0,0.58,1),
                    transform 1s cubic-bezier(0.42,0,0.58,1);
            cursor: pointer;
            transform: scale(1);
          }

          // 拡大ボタン
          img.expand-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 24px;
            height: 24px;
            z-index: 1;
            pointer-events: none; /* クリック妨害しない */
            opacity: 0.75;
            transition:
                    top 1s ease,
                    right 1s ease;
          }
        }

        // 拡大表示時
        &.max-view{
          .image-wrapper img.preview-image{
            max-height: 90vh;
            transform: scale(1.2);
          }
          .image-wrapper img.expand-icon {
            top: 30px;
            right: 20px;
          }
        }
      }
    }

    .save-button {
      width: 100%;
      padding: 10px;
      background-color: $button-green-color;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 20px;
    }

    .reset-button {
      width: 100%;
      padding: 10px;
      background-color: $button-orange-color;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
    }

    // メモボタン
    .memo-button {
      vertical-align: middle;
      background-color: $button-green-color;
      padding: 4px 4px 1px 8px;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .icon.memo-icon {
      width: 20px;
      height: 20px;
    }
    .memo-edit-area {
      margin-top: 8px;
      display: none;
      align-items: flex-start;
      gap: 8px;

      &.active {
        display: flex;
      }

      textarea {
        width: 80%;
        height: 60px;
        resize: vertical;
        font-size: 16px;
      }
      .save-memo-button {
        background: $button-green-color;
        border: none;
        border-radius: 4px;
        padding: 6px 8px 2px 8px;
        cursor: pointer;
      }
      .icon.check-icon {
        width: 16px;
        height: 16px;
      }
    }

  }
}