// 変数定義
$container-max-width: 800px;
$body-color: #333;
$table-border: 1px solid #ccc;
$header-bg: #eee;
$meal-type-bg: #ddd;
$text-muted: #555;
$table-padding: 3px;

$energy-font-family: 'Montserrat', sans-serif;
$energy-color:#FEA824;
$extra-tasty-color:#FD6772;

#page-calendar {

  &{
    color: $body-color;
    font-family: 'M PLUS 1p', Arial, sans-serif;
  }

  .calendar-container{
    text-align: center;
  }

  h1{
    text-align: center;
  }

  #weeklyEnergy{
    #weeklyEnergyNum {
      font-family: $energy-font-family;
      color: $extra-tasty-color;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  #weekDisplay{
    margin-top: 1.5rem;
  }

  #weekSelectorContainer{
    //margin-top: 1.5rem;

    select#weekSelector{
      text-align: center;
      margin-bottom: 6px;
      option{
        text-align: center;
      }
    }
  }

  .calendar-container {
    max-width: $container-max-width;
    margin: 0 auto;

    // テーブルを囲むラッパーを追加
    .table-wrapper {
      width: 100%;
      overflow-x: auto;
      margin-bottom: 60px;
    }
  }

  .calendar-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    max-width: 100%;

    th,
    td {
      border: $table-border;
      padding: $table-padding;
    }

    th {
      background-color: $header-bg;
    }


    .dishes-name {
      font-size: 14px;
      margin-bottom: 5px;
    }


    thead {
      .meal-type {
        width: 30px;  // 各食事時間の列幅
        font-size: 16px;
      }
    }

    tbody {
      // 各食事時間ごとのスタイルがあればここに記述
      th{
        background-color: $meal-type-bg;
        font-size: 16px;
        font-weight: bold;
        width: 30px;
      }
      td.day-cell {
        position: relative;
        vertical-align: top;
        height: 90px;

        .menu-item {
          font-size: 12px;
        }

        .menu-image {
          position: relative;
          img {
            height: 50px;
            width: 80px;
            object-fit: cover;
            object-position: 0 -60px;
          }
          .delete-image-btn {
            position: absolute;
            top: -5px;
            right: 5px;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background: rgba(128, 128, 128, 0.7);  // グレーの半透明
            color: white;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            line-height: 1; // safari用中心揃え
          }
        }

        .energy-value {
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 16px;

          font-family: "Montserrat", sans-serif;
          color: $energy-color;
          font-weight: 400;
          margin: 5px 0;

          cursor: pointer; // クリック可能なことを示す

          &.extra-tasty{
            color: $extra-tasty-color;
            font-weight: bold;
          }

        }

        .action-buttons {
          display: flex;
          flex-direction: column;

          button {
            font-size: 10px;
            padding: 3px;
            margin-bottom: 3px;
          }
        }
      }

    }

    tfoot {
      .daily-total-row {
        th{
          background-color: $meal-type-bg;
          font-weight: bold;
          width: 30px;
        }
        td.daily-total{
          font-family: $energy-font-family;
          color: $extra-tasty-color;
          font-weight: 700;
          font-size: 1.2rem;
        }
      }
    }
  }


  // loading表示
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .spinner {
      border: 8px solid #f3f3f3;
      border-top: 8px solid #3498db;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

}