@import '../_setting';

.energy-display {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 100;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
  //flex-direction: column;

  // 大成功アイコン
  .extra-tasty-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
    transform: rotate(15deg); // 右側に15度傾ける

    &:hover {
      transform: rotate(15deg) scale(1.1); // 傾きを維持したまま拡大
    }

    &.disabled {
      opacity: 0; // 非表示化
      pointer-events: none; // クリックイベントを無効化
    }
  }

  // エナジーアイコン
  .energy-icon {
    height: 30px;
    background-color: #F0AB42;
    border-radius: 1rem;
  }

  // エナジー値
  .energy-value {
    display: inline-block;
    transition: transform 0.2s ease;
    font-family: 'Montserrat', sans-serif; // 本家っぽいMontserratフォントを適用
    font-weight: 400;

    // 大きくなるとき
    &.pop {
      transform: scale(1.5);
    }

    // 2倍時
    &.doubled {
      color: #FD6772;
      font-weight: 700;
      font-size: 1.2em;
    }
  }
}



.settings-toggle {
  margin-top: 20px;

  button {
    background-color: $gray-color;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $blue-color;
    }
    &.active {
      background-color: $blue-color;
    }

  }
}

.settings-container {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  gap: 16px; // 各アイテム間の間隔
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 60px;

  &.collapsed {
    pointer-events: none; // 非表示時のクリックイベントを無効化
    display: none;
    border: none;
  }

  .setting-item {
    display: flex;
    flex-direction: row;
    flex: 1; // 各アイテムを均等に配置
    align-items: center; // 高さ揃えて
    margin-bottom: 5px;

    label {
      width: 100%;
      //margin-bottom: 5px;
      font-weight: bold;
      font-size: 14px;
      color: #333;
    }

    input,
    select {
      width: 100%;
      //padding: 8px;
      //border: 1px solid #ccc;
      //border-radius: 4px;
      font-size: 16px; // SP考慮で16px以上に設定
      //background-color: #fff;
      transition: border-color 0.3s ease;

      background: none;
      padding: 0;
      border: none;
      border-bottom: 1px solid black;
      border-radius: 0;
      text-align: center;

      &:focus {
        border-color: #007bff;
        outline: none;
      }

      option{
        text-align: center;
      }
    }

    select {
      appearance: none; // デフォルトの矢印を非表示
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5z"/></svg>');
      background-repeat: no-repeat;
      background-position: right 8px center;
      background-size: 12px;
      margin-bottom: 0;
      font-weight: 100;
    }
  }
}
