/* selectボックスの基本スタイル */
select {
  appearance: none; /* デフォルトのスタイルを無効化 */
  -webkit-appearance: none; /* Safariでのデフォルトスタイルを無効化 */
  //font-size: 14px; /* フォントサイズを調整して読みやすく */
  line-height: 1.5; /* 行の高さを調整 */
  width: 100%; /* 横幅を親要素いっぱいに広げる */
  max-width: 100%; /* 最大幅の制限 */
  color: #333; /* 文字の色 */
  box-sizing: border-box; /* ボックスサイズを調整 */

  border: none;
  background-color: white;
  //text-decoration: underline;
  font-weight: bold;
  font-size: 18px;

  border-bottom: 1px solid black;
  border-radius: 0;
  margin-bottom: 1rem;
  padding: 10px 10px 6px;

}

/* カスタム矢印を追加 */
select {
  $icon-path: '/gaogao-pksr/img/icons/';
  background-image: url(#{$icon-path}down-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px; /* アイコンのサイズ */
  padding-right: 30px; /* アイコン分の余白を確保 */
}

/* フォーカス時のスタイル */
select:focus {
  outline: none; /* フォーカス時のアウトラインを削除 */
  border-color: #4CAF50; /* ボーダーの色を変更 */
  box-shadow: 0 0 3px rgba(0, 255, 0, 0.3); /* フォーカス時のボックスシャドウ */
}